In [1]:
import re
import pandas as pd
import csv

In [53]:
pop_2019 = pd.read_csv('population_2019.csv')

In [54]:
pop_2019.head(2)

,SUMLEV,REGION,DIVISION,STATE,NAME,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308758105,309321666,311556874,313830990,315993715,...,0.00000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55318443,55380134,55604223,55775216,55901806,...,-5.25453,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713

In [55]:
popestimate_cols = pop_2019.filter(like='POPESTIMATE').columns
pop_2019 = pd.concat([pop_2019['NAME'], pop_2019[popestimate_cols]], axis=1)
pop_2019 = pop_2019.iloc[5:56,:]
pop_2019.drop([13], inplace=True)

In [57]:
pop_2019 = pop_2019.reset_index(drop=True)

,NAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,Alabama,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Alaska,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
2,Arizona,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
3,Arkansas,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
4,California,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
5,Colorado,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
6,Connecticut,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
7,Delaware,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764
8,Florida,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
9,Georgia,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
10,Hawaii,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
11,Idaho,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
12,Illinois,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
13,Indiana,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
14,Iowa,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070
15,Kansas,2858190,2869225,2885257,2893212,2900475,2909011,2910844,2908718,2911359,2913314
16,Kentucky,4348181,4369821,4386346,4404659,4414349,4425976,4438182,4452268,4461153,4467673
17,Louisiana,4544532,4575625,4600972,4624527,4644013,4664628,4678135,4670560,4659690,4648794
18,Maine,1327629,1328284,1327729,1328009,1330513,1328262,1331317,1334612,1339057,1344212
19,Maryland,5788645,5839419,5886992,5923188,5957283,5985562,6003323,6023868,6035802,6045680
20,Massachusetts,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503
21,Michigan,9877510,9882412,9897145,9913065,9929848,9931715,9950571,9973114,9984072,9986857
22,Minnesota,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632
23,Mississippi,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149
24,Missouri,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428
25,Montana,990697,997316,1003783,1013569,1021869,1030475,1040859,1052482,1060665,1068778
26,Nebraska,1829542,1840672,1853303,1865279,1879321,1891277,1905616,1915947,1925614,1934408
27,Nevada,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156
28,New Hampshire,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
29,New Jersey,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
30,New Mexico,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
31,New York,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
32,North Carolina,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
33,North Dakota,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062
34,Ohio,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
35,Oklahoma,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971
36,Oregon,3837491,3872036,3899001,3922468,3963244,4015792,4089976,4143625,4181886,4217737
37,Pennsylvania,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
38,Rhode Island,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361
39,South Carolina,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714
40,South Dakota,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659
41,Tennessee,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174
42,Texas,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881
43,Utah,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
44,Vermont,625879,627049,626090,626210,625214,625216,623657,624344,624358,623989
45,Virginia,8023699,8101155,8185080,8252427,8310993,8361808,8410106,8463587,8501286,8535519
46,Washington,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893
47,West Virginia,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
48,Wisconsin,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434
49,Wyoming,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759

In [61]:
pop_2019_df = pop_2019.melt(id_vars=['NAME'], var_name='year', value_name='population')
pop_2019_df['year']

              NAME             year  population
0          Alabama  POPESTIMATE2010     4785437
1           Alaska  POPESTIMATE2010      713910
2          Arizona  POPESTIMATE2010     6407172
3         Arkansas  POPESTIMATE2010     2921964
4       California  POPESTIMATE2010    37319502
..             ...              ...         ...
495       Virginia  POPESTIMATE2019     8535519
496     Washington  POPESTIMATE2019     7614893
497  West Virginia  POPESTIMATE2019     1792147
498      Wisconsin  POPESTIMATE2019     5822434
499        Wyoming  POPESTIMATE2019      578759

[500 rows x 3 columns]

In [140]:
pop_2019_df.rename(columns={'NAME': 'state'}, inplace=True)
pop_2019_df = pop_2019_df[pop_2019_df['year'] > 2010]

2020

In [127]:
population_2020 = pd.read_csv('population_2020.csv')
pop_2020 = population_2020.loc[8:58,:].reset_index(drop=True)
pop_2020.columns.values[0] = 'state'
pop_2020.columns.values[1] = '2020'

In [128]:
pop_2020.drop(pop_2020.columns[[2,3]], axis=1, inplace=True)
pop_2020.drop([8], inplace=True)
pop_2020.reset_index(drop=True)
pop_2020.head()

         state        2020
0     .Alabama   5,031,362
1      .Alaska     732,923
2     .Arizona   7,179,943
3    .Arkansas   3,014,195
4  .California  39,501,653

In [123]:
pop_2020

              state        2020
0          .Alabama   5,031,362
1           .Alaska     732,923
2          .Arizona   7,179,943
3         .Arkansas   3,014,195
4       .California  39,501,653
5         .Colorado   5,784,865
6      .Connecticut   3,597,362
7         .Delaware     992,114
9          .Florida  21,589,602
10         .Georgia  10,729,828
11          .Hawaii   1,451,043
12           .Idaho   1,849,202
13        .Illinois  12,786,580
14         .Indiana   6,788,799
15            .Iowa   3,190,571
16          .Kansas   2,937,919
17        .Kentucky   4,507,445
18       .Louisiana   4,651,664
19           .Maine   1,363,557
20        .Maryland   6,173,205
21   .Massachusetts   6,995,729
22        .Michigan  10,069,577
23       .Minnesota   5,709,852
24     .Mississippi   2,958,141
25        .Missouri   6,153,998
26         .Montana   1,087,075
27        .Nebraska   1,962,642
28          .Nevada   3,115,648
29   .New Hampshire   1,378,587
30      .New Jersey   9,271,689
31      .New Mexico   2,118,390
32        .New York  20,108,296
33  .North Carolina  10,449,445
34    .North Dakota     779,518
35            .Ohio  11,797,517
36        .Oklahoma   3,964,912
37          .Oregon   4,244,795
38    .Pennsylvania  12,994,440
39    .Rhode Island   1,096,345
40  .South Carolina   5,131,848
41    .South Dakota     887,799
42       .Tennessee   6,925,619
43           .Texas  29,232,474
44            .Utah   3,283,785
45         .Vermont     642,893
46        .Virginia   8,636,471
47      .Washington   7,724,031
48   .West Virginia   1,791,420
49       .Wisconsin   5,896,271
50         .Wyoming     577,605

In [129]:
pop_2020['2020'] = pop_2020[['2020']].apply(lambda x: x.str.replace(',', "").astype(int), axis=1)

In [130]:
pop_2020.tail()

             state     2020
46       .Virginia  8636471
47     .Washington  7724031
48  .West Virginia  1791420
49      .Wisconsin  5896271
50        .Wyoming   577605

In [131]:
pop_2020['state'] = pop_2020['state'].replace(r'\.', '' , regex=True)

In [135]:
pop_2020 = pop_2020.reset_index(drop=True)

In [136]:
pop_2020

             state      2020
0          Alabama   5031362
1           Alaska    732923
2          Arizona   7179943
3         Arkansas   3014195
4       California  39501653
5         Colorado   5784865
6      Connecticut   3597362
7         Delaware    992114
8          Florida  21589602
9          Georgia  10729828
10          Hawaii   1451043
11           Idaho   1849202
12        Illinois  12786580
13         Indiana   6788799
14            Iowa   3190571
15          Kansas   2937919
16        Kentucky   4507445
17       Louisiana   4651664
18           Maine   1363557
19        Maryland   6173205
20   Massachusetts   6995729
21        Michigan  10069577
22       Minnesota   5709852
23     Mississippi   2958141
24        Missouri   6153998
25         Montana   1087075
26        Nebraska   1962642
27          Nevada   3115648
28   New Hampshire   1378587
29      New Jersey   9271689
30      New Mexico   2118390
31        New York  20108296
32  North Carolina  10449445
33    North Dakota    779518
34            Ohio  11797517
35        Oklahoma   3964912
36          Oregon   4244795
37    Pennsylvania  12994440
38    Rhode Island   1096345
39  South Carolina   5131848
40    South Dakota    887799
41       Tennessee   6925619
42           Texas  29232474
43            Utah   3283785
44         Vermont    642893
45        Virginia   8636471
46      Washington   7724031
47   West Virginia   1791420
48       Wisconsin   5896271
49         Wyoming    577605

In [137]:
pop_2020_df = pop_2020.melt(id_vars=['state'], var_name='year', value_name='population')

In [138]:
pop_2020_df.head()

        state  year  population
0     Alabama  2020     5031362
1      Alaska  2020      732923
2     Arizona  2020     7179943
3    Arkansas  2020     3014195
4  California  2020    39501653

In [141]:
pop = pd.concat([pop_2019_df, pop_2020_df])

            state  year  population
50        Alabama  2011     4799069
51         Alaska  2011      722128
52        Arizona  2011     6472643
53       Arkansas  2011     2940667
54     California  2011    37638369
..            ...   ...         ...
45       Virginia  2020     8636471
46     Washington  2020     7724031
47  West Virginia  2020     1791420
48      Wisconsin  2020     5896271
49        Wyoming  2020      577605

[500 rows x 3 columns]