In [2]:
import pandas as pd
import os
import glob
import re

In [13]:
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
dfs = []
# loop over the list of csv files
for f in csv_files:
    # filename = f.split("\\")[-1]
    # year = re.findall(r"\d+", filename)[-1]
    # if year in ['2015','2016','2017','2018', '2019', '2020']:
    # read the csv file
    df = pd.read_csv(f)
    dfs.append(df)
    # print the location and filename
    print('Location:', f)
    print('File Name:', f.split("\\")[-1])
df = pd.concat(dfs, ignore_index=True)

Location: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575643.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575643.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575431.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575431.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575628.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575628.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575617.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575617.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575659.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575659.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575501.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575501.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575702.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575702.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575689.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575689.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575715.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575715.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575675.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/government/search_officeholders-1676575675.csv

In [14]:
df.head()

,ID,Year,First Name,Middle Name,Last Name,party,Level,Position,state,District,race_ethnicity
0,198090k,2016,Kate,NaN,Brown,Democrat,Statewide Executive,Governor,Oregon - OR,NaN,White
1,209688k,2016,Mary,NaN,Fallin,Republican,Statewide Executive,Governor,Oklahoma - OK,NaN,White
2,282881k,2016,Kimberly,M.,Guadagno,Republican,Statewide Executive,Lt. Governor,New Jersey - NJ,NaN,White
3,227511k,2016,Nikki,R.,Haley,Republican,Statewide Executive,Governor,South Carolina - SC,NaN,Asian American/Pacific Islander
4,475968k,2016,Jenean,NaN,Hampton,Republican,Statewide Executive,Lt. Governor,Kentucky - KY,NaN,Black

In [15]:
# select interested columns
df = df.iloc[:, [1, 7, 8]]
df.shape

(188, 3)

In [16]:
# one-hot-encoding
dummies = pd.get_dummies(df[['Position']])
df_gov = pd.concat([df, dummies], axis=1)
df_gov = df_gov.drop(columns=['Position'])

In [17]:
# clean the state name
df_gov['state'] = df_gov['state'].str.findall(r'[A-Z]{2}').str[0]

In [22]:
# convert year to integer
df_gov['Year'] = df_gov['Year'].astype(object)

In [23]:
df_leg = pd.read_csv('/Users/axyz1220/Downloads/macs30122/final_project/legislature/women_in_legislature.csv')

In [24]:
df_poli = pd.merge(df_leg, df_gov, how='left', left_on=['year', 'state'], right_on = ['Year', 'state'])

In [25]:
df_poli

,state,proportion of women,year,Year,Position_Governor,Position_Lt. Governor
0,AL,0.157,2020,2020,1.0,0.0
1,AK,0.367,2020,NaN,NaN,NaN
2,AZ,0.389,2020,NaN,NaN,NaN
3,AR,0.259,2020,NaN,NaN,NaN
4,CA,0.308,2020,2020,0.0,1.0
...,...,...,...,...,...,...
495,VA,0.193,2011,NaN,NaN,NaN
496,WA,0.320,2011,2011,1.0,0.0
497,WV,0.179,2011,NaN,NaN,NaN
498,WI,0.258,2011,2011,0.0,1.0
499,WY,0.144,2011,NaN,NaN,NaN

In [26]:
# only keep one column of year
df_poli = df_poli.drop(columns=['Year'])

In [27]:
# fill na with 0, indicating male governor or lt_governor
df_poli = df_poli.fillna(0)

In [28]:
df_poli.head()

  state  proportion of women  year  Position_Governor  Position_Lt. Governor
0    AL                0.157  2020                1.0                    0.0
1    AK                0.367  2020                0.0                    0.0
2    AZ                0.389  2020                0.0                    0.0
3    AR                0.259  2020                0.0                    0.0
4    CA                0.308  2020                0.0                    1.0

In [29]:
df_poli.shape

(500, 5)

In [30]:
states_full_name = {
    'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming'
}

In [31]:
def convert_to_full_name(abb):
    """
    Convert abbreviation to full state name

    Inputs:
        abb: str
    
    return:
        full state name
    """
    return states_full_name[abb]

In [32]:
df_poli['state'] = df_poli['state'].apply(convert_to_full_name)

In [33]:
df_poli.rename(columns = {'proportion of women':'women in legislature'})

,state,women in legislature,year,Position_Governor,Position_Lt. Governor
0,Alabama,0.157,2020,1.0,0.0
1,Alaska,0.367,2020,0.0,0.0
2,Arizona,0.389,2020,0.0,0.0
3,Arkansas,0.259,2020,0.0,0.0
4,California,0.308,2020,0.0,1.0
...,...,...,...,...,...
495,Virginia,0.193,2011,0.0,0.0
496,Washington,0.320,2011,1.0,0.0
497,West Virginia,0.179,2011,0.0,0.0
498,Wisconsin,0.258,2011,0.0,1.0
499,Wyoming,0.144,2011,0.0,0.0

In [34]:
df_poli.to_csv('political_empowerment.csv', encoding='utf-8', index=False)